* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  border-radius: 32px;
  border: none;
  padding: 1rem 2rem;
  background: inherit;
  color: white;
  font-size: 18px;
}

.btn-blue {
  background-color: #2191da;
}

.c-blue {
  color: #2191da;
}

.c-grey {
  color: grey;
}

.c-black {
  color: black;
}

.c-white {
  color: white;
}

.c-red {
  color: red;
}

.c-yellow {
  color: yellow;
}

.c-green {
  color: green;
}

.c-whitesmoke {
  color: whitesmoke;
}

.c-darkgrey {
  color: darkgrey;
}

.t-semibold {
  font-weight: 900;
}

.t-bold {
  font-weight: 700;
}

.t-regular {
  font-weight: 500;
}

.t-thin {
  font-weight: 300;
}

.t-align-center {
  text-align: center;
}

.t-align-left {
  text-align: left;
}

.t-align-right {
  text-align: right;
}

.container {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: start;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-no-wrap {
  flex-wrap: nowrap;
}

.f-column {
  flex-direction: column;
}

.f-row {
  flex-direction: row;
}

.col-1 {
  flex-basis: calc(100% / 12);
}

.col-2 {
  flex-basis: calc((100% / 12) * 2);
}

.col-3 {
  flex-basis: calc((100% / 12) * 3);
}

.col-4 {
  flex-basis: calc((100% / 12) * 4);
}

.col-5 {
  flex-basis: calc((100% / 12) * 5);
}

.col-6 {
  flex-basis: calc((100% / 12) * 6);
}

.col-7 {
  flex-basis: calc((100% / 12) * 7);
}

.col-8 {
  flex-basis: calc((100% / 12) * 8);
}

.col-9 {
  flex-basis: calc((100% / 12) * 9);
}

.col-10 {
  flex-basis: calc((100% / 12) * 10);
}

.col-11 {
  flex-basis: calc((100% / 12) * 11);
}

.col-12 {
  flex-basis: calc((100% / 12) * 12);
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-flex-justify-content-center {
  justify-content: center;
}

.d-flex-justify-content-start {
  justify-content: flex-start;
}

.d-flex-justify-content-end {
  justify-content: flex-end;
}

.d-flex-justify-content-evenly {
  justify-content: space-evenly;
}

.d-flex-justify-content-between {
  justify-content: space-between;
}

.d-flex-justify-content-around {
  justify-content: space-around;
}

.d-flex-align-items-center {
  align-items: center;
}

.d-flex-align-items-start {
  align-items: flex-start;
}

.d-flex-align-items-end {
  align-items: flex-end;
}

.d-flex-align-items-evenly {
  align-items: space-evenly;
}

.d-flex-align-items-between {
  align-items: space-between;
}

.d-flex-align-items-around {
  align-items: space-around;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.d-float-left {
  float: left;
}

.d-float-right {
  float: right;
}

.w-100 {
  width: 100%;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.p-l-1 {
  padding-left: 1rem;
}

.p-l-2 {
  padding-left: 2rem;
}

.p-l-3 {
  padding-left: 3rem;
}

.p-l-4 {
  padding-left: 4rem;
}

.p-l-5 {
  padding-left: 5rem;
}

.p-l-6 {
  padding-left: 6rem;
}

.p-r-1 {
  padding-right: 1rem;
}

.p-r-2 {
  padding-right: 2rem;
}

.p-r-3 {
  padding-right: 3rem;
}

.p-r-4 {
  padding-right: 4rem;
}

.p-r-5 {
  padding-right: 5rem;
}

.p-r-6 {
  padding-right: 6rem;
}

.p-t-1 {
  padding-top: 1rem;
}

.p-t-2 {
  padding-top: 2rem;
}

.p-t-3 {
  padding-top: 3rem;
}

.p-t-4 {
  padding-top: 4rem;
}

.p-t-5 {
  padding-top: 5rem;
}

.p-t-6 {
  padding-top: 6rem;
}

.p-b-1 {
  padding-bottom: 1rem;
}

.p-b-2 {
  padding-bottom: 2rem;
}

.p-b-3 {
  padding-bottom: 3rem;
}

.p-b-4 {
  padding-bottom: 4rem;
}

.p-b-5 {
  padding-bottom: 5rem;
}

.p-b-6 {
  padding-bottom: 6rem;
}

.p-x-1 {
  padding: 0 1rem;
}

.p-x-2 {
  padding: 0 2rem;
}

.p-x-3 {
  padding: 0 3rem;
}

.p-x-4 {
  padding: 0 4rem;
}

.p-x-5 {
  padding: 0 5rem;
}

.p-x-6 {
  padding: 0 6rem;
}

.p-y-1 {
  padding: 1rem 0;
}

.p-y-2 {
  padding: 2rem 0;
}

.p-y-3 {
  padding: 3rem 0;
}

.p-y-4 {
  padding: 4rem 0;
}

.p-y-5 {
  padding: 5rem 0;
}

.p-y-6 {
  padding: 6rem 0;
}

.m-l-1 {
  margin-left: 1rem;
}

.m-l-2 {
  margin-left: 2rem;
}

.m-l-3 {
  margin-left: 3rem;
}

.m-l-4 {
  padding-left: 4rem;
}

.m-l-5 {
  margin-left: 5rem;
}

.m-l-6 {
  margin-left: 6rem;
}

.m-r-1 {
  margin-right: 1rem;
}

.m-r-2 {
  margin-right: 2rem;
}

.m-r-3 {
  margin-right: 3rem;
}

.m-r-4 {
  margin-right: 4rem;
}

.m-r-5 {
  margin-right: 5rem;
}

.m-r-6 {
  margin-right: 6rem;
}

.m-t-1 {
  margin-top: 1rem;
}

.m-t-2 {
  margin-top: 2rem;
}

.m-t-3 {
  margin-top: 3rem;
}

.m-t-4 {
  margin-top: 4rem;
}

.m-t-5 {
  margin-top: 5rem;
}

.m-t-6 {
  margin-top: 6rem;
}

.m-b-1 {
  margin-bottom: 1rem;
}

.m-b-2 {
  margin-bottom: 2rem;
}

.m-b-3 {
  margin-bottom: 3rem;
}

.m-b-4 {
  margin-bottom: 4rem;
}

.m-b-5 {
  margin-bottom: 5rem;
}

.m-b-6 {
  margin-bottom: 6rem;
}

.m-x-1 {
  margin: 0 1rem;
}

.m-x-2 {
  margin: 0 2rem;
}

.m-x-3 {
  margin: 0 3rem;
}

.m-x-4 {
  margin: 0 4rem;
}

.m-x-5 {
  margin: 0 5rem;
}

.m-x-6 {
  margin: 0 6rem;
}

.m-y-1 {
  margin: 1rem 0;
}

.m-y-2 {
  margin: 2rem 0;
}

.m-y-3 {
  margin: 3rem 0;
}

.m-y-4 {
  margin: 4rem 0;
}

.m-y-5 {
  margin: 5rem 0;
}

.m-y-6 {
  margin: 6rem 0;
}

@media (min-width: 720px) {
  .container {
    padding: 0 1rem;
  }

  .col-md-1 {
    flex-basis: calc(100% / 12);
  }

  .col-md-2 {
    flex-basis: calc((100% / 12) * 2);
  }

  .col-md-3 {
    flex-basis: calc((100% / 12) * 3);
  }

  .col-md-4 {
    flex-basis: calc((100% / 12) * 4);
  }

  .col-md-5 {
    flex-basis: calc((100% / 12) * 5);
  }

  .col-md-6 {
    flex-basis: calc((100% / 12) * 6);
  }

  .col-md-7 {
    flex-basis: calc((100% / 12) * 7);
  }

  .col-md-8 {
    flex-basis: calc((100% / 12) * 8);
  }

  .col-md-9 {
    flex-basis: calc((100% / 12) * 9);
  }

  .col-md-10 {
    flex-basis: calc((100% / 12) * 10);
  }

  .col-md-11 {
    flex-basis: calc((100% / 12) * 11);
  }

  .col-md-12 {
    flex-basis: calc((100% / 12) * 12);
  }

  .d-md-none {
    display: none;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-block {
    display: block;
  }

  .d-md-inline-block {
    display: inline-block;
  }

  .d-md-inline {
    display: inline;
  }

  .p-ml-1 {
    padding-left: 1rem;
  }

  .p-ml-2 {
    padding-left: 2rem;
  }

  .p-ml-3 {
    padding-left: 3rem;
  }

  .p-ml-4 {
    padding-left: 4rem;
  }

  .p-ml-5 {
    padding-left: 5rem;
  }

  .p-ml-6 {
    padding-left: 6rem;
  }

  .p-mr-1 {
    padding-right: 1rem;
  }

  .p-mr-2 {
    padding-right: 2rem;
  }

  .p-mr-3 {
    padding-right: 3rem;
  }

  .p-mr-4 {
    padding-right: 4rem;
  }

  .p-mr-5 {
    padding-right: 5rem;
  }

  .p-mr-6 {
    padding-right: 6rem;
  }

  .p-mt-1 {
    padding-top: 1rem;
  }

  .p-mt-2 {
    padding-top: 2rem;
  }

  .p-mt-3 {
    padding-top: 3rem;
  }

  .p-mt-4 {
    padding-top: 4rem;
  }

  .p-mt-5 {
    padding-top: 5rem;
  }

  .p-mt-6 {
    padding-top: 6rem;
  }

  .p-mb-1 {
    padding-bottom: 1rem;
  }

  .p-mb-2 {
    padding-bottom: 2rem;
  }

  .p-mb-3 {
    padding-bottom: 3rem;
  }

  .p-mb-4 {
    padding-bottom: 4rem;
  }

  .p-mb-5 {
    padding-bottom: 5rem;
  }

  .p-mb-6 {
    padding-bottom: 6rem;
  }

  .p-mx-1 {
    padding: 0 1rem;
  }

  .p-mx-2 {
    padding: 0 2rem;
  }

  .p-mx-3 {
    padding: 0 3rem;
  }

  .p-mx-4 {
    padding: 0 4rem;
  }

  .p-mx-5 {
    padding: 0 5rem;
  }

  .p-mx-6 {
    padding: 0 6rem;
  }

  .p-my-1 {
    padding: 1rem 0;
  }

  .p-my-2 {
    padding: 2rem 0;
  }

  .p-my-3 {
    padding: 3rem 0;
  }

  .p-my-4 {
    padding: 4rem 0;
  }

  .p-my-5 {
    padding: 5rem 0;
  }

  .p-my-6 {
    padding: 6rem 0;
  }

  .m-ml-1 {
    margin-left: 1rem;
  }

  .m-ml-2 {
    margin-left: 2rem;
  }

  .m-ml-3 {
    margin-left: 3rem;
  }

  .m-ml-4 {
    padding-left: 4rem;
  }

  .m-ml-5 {
    margin-left: 5rem;
  }

  .m-ml-6 {
    margin-left: 6rem;
  }

  .m-mr-1 {
    margin-right: 1rem;
  }

  .m-mr-2 {
    margin-right: 2rem;
  }

  .m-mr-3 {
    margin-right: 3rem;
  }

  .m-mr-4 {
    margin-right: 4rem;
  }

  .m-mr-5 {
    margin-right: 5rem;
  }

  .m-mr-6 {
    margin-right: 6rem;
  }

  .m-mt-1 {
    margin-top: 1rem;
  }

  .m-mt-2 {
    margin-top: 2rem;
  }

  .m-mt-3 {
    margin-top: 3rem;
  }

  .m-mt-4 {
    margin-top: 4rem;
  }

  .m-mt-5 {
    margin-top: 5rem;
  }

  .m-mt-6 {
    margin-top: 6rem;
  }

  .m-mb-1 {
    margin-bottom: 1rem;
  }

  .m-mb-2 {
    margin-bottom: 2rem;
  }

  .m-mb-3 {
    margin-bottom: 3rem;
  }

  .m-mb-4 {
    margin-bottom: 4rem;
  }

  .m-mb-5 {
    margin-bottom: 5rem;
  }

  .m-mb-6 {
    margin-bottom: 6rem;
  }

  .m-mx-1 {
    margin: 0 1rem;
  }

  .m-mx-2 {
    margin: 0 2rem;
  }

  .m-mx-3 {
    margin: 0 3rem;
  }

  .m-mx-4 {
    margin: 0 4rem;
  }

  .m-mx-5 {
    margin: 0 5rem;
  }

  .m-mx-6 {
    margin: 0 6rem;
  }

  .m-my-1 {
    margin: 1rem 0;
  }

  .m-my-2 {
    margin: 2rem 0;
  }

  .m-my-3 {
    margin: 3rem 0;
  }

  .m-my-4 {
    margin: 4rem 0;
  }

  .m-my-5 {
    margin: 5rem 0;
  }

  .m-my-6 {
    margin: 6rem 0;
  }
}

@media (min-width: 1024px) {
  .d-lg-none {
    display: none;
  }

  .container {
    padding: 0 2rem;
    width: 80%;
  }

  .col-lg-1 {
    flex-basis: calc(100% / 12);
  }

  .col-lg-2 {
    flex-basis: calc((100% / 12) * 2);
  }

  .col-lg-3 {
    flex-basis: calc((100% / 12) * 3);
  }

  .col-lg-4 {
    flex-basis: calc((100% / 12) * 4);
  }

  .col-lg-5 {
    flex-basis: calc((100% / 12) * 5);
  }

  .col-lg-6 {
    flex-basis: calc((100% / 12) * 6);
  }

  .col-lg-7 {
    flex-basis: calc((100% / 12) * 7);
  }

  .col-lg-8 {
    flex-basis: calc((100% / 12) * 8);
  }

  .col-lg-9 {
    flex-basis: calc((100% / 12) * 9);
  }

  .col-lg-10 {
    flex-basis: calc((100% / 12) * 10);
  }

  .col-lg-11 {
    flex-basis: calc((100% / 12) * 11);
  }

  .col-lg-12 {
    flex-basis: calc((100% / 12) * 12);
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-inline-block {
    display: inline-block;
  }

  .d-lg-inline {
    display: inline;
  }

  .p-ll-1 {
    padding-left: 1rem;
  }

  .p-ll-2 {
    padding-left: 2rem;
  }

  .p-ll-3 {
    padding-left: 3rem;
  }

  .p-ll-4 {
    padding-left: 4rem;
  }

  .p-ll-5 {
    padding-left: 5rem;
  }

  .p-ll-6 {
    padding-left: 6rem;
  }

  .p-lr-1 {
    padding-right: 1rem;
  }

  .p-lr-2 {
    padding-right: 2rem;
  }

  .p-lr-3 {
    padding-right: 3rem;
  }

  .p-lr-4 {
    padding-right: 4rem;
  }

  .p-lr-5 {
    padding-right: 5rem;
  }

  .p-lr-6 {
    padding-right: 6rem;
  }

  .p-lt-1 {
    padding-top: 1rem;
  }

  .p-lt-2 {
    padding-top: 2rem;
  }

  .p-lt-3 {
    padding-top: 3rem;
  }

  .p-lt-4 {
    padding-top: 4rem;
  }

  .p-lt-5 {
    padding-top: 5rem;
  }

  .p-lt-6 {
    padding-top: 6rem;
  }

  .p-lb-1 {
    padding-bottom: 1rem;
  }

  .p-lb-2 {
    padding-bottom: 2rem;
  }

  .p-lb-3 {
    padding-bottom: 3rem;
  }

  .p-lb-4 {
    padding-bottom: 4rem;
  }

  .p-lb-5 {
    padding-bottom: 5rem;
  }

  .p-lb-6 {
    padding-bottom: 6rem;
  }

  .p-lx-1 {
    padding: 0 1rem;
  }

  .p-lx-2 {
    padding: 0 2rem;
  }

  .p-lx-3 {
    padding: 0 3rem;
  }

  .p-lx-4 {
    padding: 0 4rem;
  }

  .p-lx-5 {
    padding: 0 5rem;
  }

  .p-lx-6 {
    padding: 0 6rem;
  }

  .p-ly-1 {
    padding: 1rem 0;
  }

  .p-ly-2 {
    padding: 2rem 0;
  }

  .p-ly-3 {
    padding: 3rem 0;
  }

  .p-ly-4 {
    padding: 4rem 0;
  }

  .p-ly-5 {
    padding: 5rem 0;
  }

  .p-ly-6 {
    padding: 6rem 0;
  }

  .m-ll-1 {
    margin-left: 1rem;
  }

  .m-ll-2 {
    margin-left: 2rem;
  }

  .m-ll-3 {
    margin-left: 3rem;
  }

  .m-ll-4 {
    padding-left: 4rem;
  }

  .m-ll-5 {
    margin-left: 5rem;
  }

  .m-ll-6 {
    margin-left: 6rem;
  }

  .m-lr-1 {
    margin-right: 1rem;
  }

  .m-lr-2 {
    margin-right: 2rem;
  }

  .m-lr-3 {
    margin-right: 3rem;
  }

  .m-lr-4 {
    margin-right: 4rem;
  }

  .m-lr-5 {
    margin-right: 5rem;
  }

  .m-lr-6 {
    margin-right: 6rem;
  }

  .m-lt-1 {
    margin-top: 1rem;
  }

  .m-lt-2 {
    margin-top: 2rem;
  }

  .m-lt-3 {
    margin-top: 3rem;
  }

  .m-lt-4 {
    margin-top: 4rem;
  }

  .m-lt-5 {
    margin-top: 5rem;
  }

  .m-lt-6 {
    margin-top: 6rem;
  }

  .m-lb-1 {
    margin-bottom: 1rem;
  }

  .m-lb-2 {
    margin-bottom: 2rem;
  }

  .m-lb-3 {
    margin-bottom: 3rem;
  }

  .m-lb-4 {
    margin-bottom: 4rem;
  }

  .m-lb-5 {
    margin-bottom: 5rem;
  }

  .m-lb-6 {
    margin-bottom: 6rem;
  }

  .m-lx-1 {
    margin: 0 1rem;
  }

  .m-lx-2 {
    margin: 0 2rem;
  }

  .m-lx-3 {
    margin: 0 3rem;
  }

  .m-lx-4 {
    margin: 0 4rem;
  }

  .m-lx-5 {
    margin: 0 5rem;
  }

  .m-lx-6 {
    margin: 0 6rem;
  }

  .m-ly-1 {
    margin: 1rem 0;
  }

  .m-ly-2 {
    margin: 2rem 0;
  }

  .m-ly-3 {
    margin: 3rem 0;
  }

  .m-ly-4 {
    margin: 4rem 0;
  }

  .m-ly-5 {
    margin: 5rem 0;
  }

  .m-ly-6 {
    margin: 6rem 0;
  }
}
