@import url("./framework.css");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #15202b;
  color: white;
  width: 100vw;
  font-family: "Roboto Slab", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

span,
ul,
li,
p,
strong {
  font-family: "Roboto Slab", serif;
}

.left-side {
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-slider {
  position: fixed;
  top: 0;
  bottom: 0;
}

ul {
  list-style: none;
  width: 100%;
  padding: 2rem 2rem;
}

ul li {
  display: flex;
  height: 56px;
  padding: 0.75rem;
  justify-content: left;
  align-items: center;
}

ul li:first-child {
  justify-content: left;
  display: inline-block;
}

ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 32px;
  cursor: pointer;
}

ul li .svg-color {
  width: 32px;
  fill: white;
  display: inline-block;
  margin: 0.2rem;
}

ul li h4 {
  display: inline;
  text-transform: uppercase;
  margin-left: 1rem;
}

button {
  width: 74%;
  margin: 2rem;
}

.tweet-circle {
  display: none;
}

.center {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
}

.home {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.home h2 {
  font-size: 24px;
  font-weight: 500;
}

.home svg {
  width: 24px;
  height: 24px;
  fill: aqua;
}

.tweet__post {
  margin-top: 1rem;
}

.tweet__post-body {
  display: flex;
  flex-direction: column;
}

.tweet__post-body #textarea {
  border: none;
  padding: 0.75rem;
  margin-right: 1rem;
  font-size: 22px;
  background-color: #141f2b;
  color: white;
}

#textarea::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

#textarea:focus {
  outline: 0;
}

.tweet__wrapper {
  padding: 0;
}

.tweet__wrapper .tweet {
  margin-top: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.image__wrapper {
  display: block;
  text-align: center;
}

.image__wrapper img {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.tweet__msg {
  padding-right: 2rem;
}

.tweet__msg .tweet__msg-name {
  color: white;
  font-weight: 900;
  display: block;
}

.tweet__msg .tweet__msg-name span {
  font-weight: 300;
  color: #c4c4c4;
}

.tweet__msg .tweet__msg-body .tag {
  color: #1395e0;
  font-weight: 300;
}

.tweet__msg .tweet__msg-body img {
  width: 100%;
  margin-top: 1rem;
  border-radius: 20px;
}

.tweet__msg .tweet__msg-action {
  display: flex;
  height: 48px;
  justify-content: space-around;
  margin: 0.65rem 0;
}

.tweet__msg .tweet__msg-action .item {
  cursor: pointer;
  padding: 0.75rem;
}

.tweet__msg .tweet__msg-action .item:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.tweet__msg .tweet__msg-action svg {
  width: 24px;
  fill: white;
}

@media (max-width: 769px) {
  ul {
    padding: 0.75rem;
  }

  ul li {
    display: flex;
    height: 56px;
    padding: 8px;
    justify-content: left;
    align-items: center;
  }

  ul li h4 {
    display: none;
    padding: 0;
    margin: 0;
  }

  .tweet-circle {
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding: 0;
    margin: 1rem;
  }

  .tweet-circle svg {
    fill: white;
    width: 18px;
  }

  .tweet-rect {
    display: none;
  }
}
